  
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h1>My profile</h1>
      <%= simple_form_for(@user) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone_number %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Save modifications", class: 'btn-primary' %>
      <% end %>
      <%= render 'plugs' %>
      <%= render 'bookings' %>
    </div>
  </div>