
<% if current_page?(root_path) %>

<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1567409378873-888d6fa7debc?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">  
  
  <%# le texte de la banner %>
  <div class="container col-3">
    <h1>Air <strong>Charging</strong></h1>
    <p>Find charging points for your electric cars</p>
  </div>

  <%# la search bar sur la banner %>
  <div class="search-bar-container">
    <div class="container">
      <%= simple_form_for :search, url: plugs_path, method: :get do |f| %>
        <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="plug_address" value="<%= params[:search][:query] if !params[:search].nil? %>" />
        <button name="button" type="submit" class="btn btn-flat"><i class="fas fa-search"></i> Search</button>
        </div>
      <% end %>
    </div>  
  </div>
</div>

 <%# les cars du bas %>

<div class="container-jb text-center">
      <h1>Air Charging offers <strong>P2P Charging experience</strong></h1>
</div>

<div class="cards">
    
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1549416096-1030b127970e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=282&q=80)">
      Forget queuing in public stations
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1571127236794-81c0bbfe1ce3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80)">
      Get charged where you are
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1567525884226-4ae9d7bc1aab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
      Pay less
    </div>

 </div>

<% end %>

<% if current_page?(plugs_path) %>

<div class='container' id='container-index'>

    <%= simple_form_for :search, url: plugs_path, method: :get do |f| %>
      <div class="search-form-control form-group mt-4">
        <input class="form-control string required" type="text" name="search[query]" id="plug_address" value="<%= params[:search][:query] if !params[:search].nil? %>" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
      </div>

      <div class="row justify-content-center mb-4">
        <div class='pt-3 col-3 rounded bg-white shadow'>
          <h1>Filter</h1>
          <div class="ACDC mb-2">
            <p>AC/DC: </p>
              <div class="d-flex btn-group btn-group-toggle" data-toggle="buttons">
                <label class="w-50 btn btn-success mb-1 mr-1 text-white" for="AC">AC
                <input type="checkbox" id="AC" name='courant[]' value="AC"></label>
                <label class="w-50 btn btn-success mb-1 ml-1 text-white" for="DC">DC
                <input type="checkbox" id="DC" name='courant[]' value="DC"></label>
              </div>
          </div>
          <div class="type-plug mb-2">
            <p class='d-inline'>Type of plug: </p>
            <div class="btn-group-toggle" data-toggle="buttons">
              <% Plug::PLUG_TYPE.each do |type| %>
                <label class="btn btn-success mx-1 d-block mb-1 text-white" for="<%=type%>">
                  <input type="checkbox" name="type[]" id="<%=type%>" value="<%=type%>"><%=type%>
                </label>
              <% end %>
            </div>
          </div>
          <div>
            <p class='d-inline'>Maximum power: <output id='power_max_value'><%=Plug.maximum('power').to_i%></output></p>
            <input class="custom-range" id='power_max' type="range" name="power_max" min="0" max="<%=Plug.maximum('power')%>" step="40" value="<%=Plug.maximum('power')%>">
          </div>
          <div>
            <p class='d-inline'>Maximum price per hour: <span id='price_max_value'><%=Plug.maximum('price').to_i%></span></p>
            <input class="custom-range" id='price_max' type="range" name="price_max" min="1" max="<%=Plug.maximum('price')%>" step="1" value="<%=Plug.maximum('price')%>">
          </div>
          <button name="button" type="submit" class="w-100 btn btn-success text-white">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
      <div class='col-9 p-2' id="map"
          style="width: 100%; height: 600px"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  

</div>

<% end %>