 <div class="container">
    <div class='text-center mt-4'>
      <h1>Rent your charging station and make money</h1>
    </div>
    <div class="row justify-content-center m-3">
      <div class="col-12 col-lg-6 shadow rounded bg-white p-4 my-3">
        <%= simple_form_for(@plug) do |f| %>
        <%= f.input :address %>
        <%= f.input :price, label: 'Price per hour' %>
        <%= f.input :power %>
        <%= f.input :ac_dc, label: 'AC / DC', as: :radio_buttons, collection: ['AC', 'DC'], wrapper: :vertical_collection_inline %>
        <%= f.input :type_plug, label: 'Type of plug', as: :radio_buttons, collection: Plug::PLUG_TYPE, wrapper: :vertical_collection_inline %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Add this charging point", class: "btn btn-primary text-center" %>
        <% end %>
      </div>
    </div>
  </div>
