<div class="container py-3">
  <div class="row  justify-content-center">
    <div id='plug-details' class='col-4 shadow p-3 mb-5 bg-white rounded'>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% if @plug.photos.attached? %>
            <% @plug.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <%= cl_image_tag photo.key, height: 300, width:400, crop: :fill, style: 'width: 100%', class: 'rounded' %>
              </div>
            <% end %>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
          </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
      <div class='mt-3'>
        <p><i class="fas fa-map-marker-alt"></i> · <strong><%= @plug.address %></strong></p>
        <div class="d-flex justify-content-between mt-3">
          <p><strong><%= @plug.power.to_i %></strong>kW · <i class="fas fa-bolt"></i> <%= @plug.ac_dc %>  · <strong>Type</strong>: <%= @plug.type_plug %></p>
          <div>
            <% if policy(@plug).edit? %>
              <%= link_to edit_plug_path(@plug) do %>
                <i class="fas fa-pen"></i>
              <% end %>
              <%= link_to plug_path(@plug), method: :delete, data: { confirm: 'Are you sure ?'} do %>
                <i class="mr-2 fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class='col-4'>
      <div id='plug-price' class="shadow p-3 mb-5 bg-white rounded text-center">
        <h3><strong><%= @plug.price.to_i %> €</strong></h3>
        <p>for one hour</p>
      </div>

      <% if @plug.user != current_user %>
        <div id='booking-form' class="shadow p-3 mb-5 bg-white rounded text-center">
          <%= render 'bookings/new' %>
        </div>
      <% end %>
    </div> 
  </div>
</div>
